@media (max-width: 480px) {
    :root{
        --text-size: 14px;
    }
    .menu {
        gap: 0;
        & li {
            margin-left: 5px;
            flex-grow: 1;
        }
    }
    main {
        min-height: calc(100vh - 21vh);
    }
    main section {
        margin-top: 0;
        padding: 0 2rem;
        padding-bottom: 2rem;
    }
    .main-grid {
        display: block;
    }
    .nome-main {
        font-size: 24px;
    }
    .nome-navbar {
        font-size: 18px;
    }
    .title-main {
        font-size: 1.5rem;
        max-width: 75vw;
        margin: 2vh 0;
    }
    .title-section{
        font-size: 1.5rem;
        margin: 1.5vh 0;
        & .material-symbols-outlined {font-size: 18px;}
    }
    .about-area {
        max-width: 80vw;
    }
    .branco_effect {
        height: 5vh;
        width: 40vw;
        background-color: var(--text-light);
        position: absolute;
        right: 0;
        top: -4vh;
        margin: 0;
        transform: perspective(300px) rotateX(45deg); /* transforma o elemento em um trapézio */
        transform-origin: right bottom;
    }
    .link-box {
        background-color: var(--main-color);
        width: 6vh;
        height: 6vh;
        border-radius: 6px;
        color: var(--text-light);
    }
    .section-details{
        max-width: 100%;
        padding: 1rem 2rem;
        & .topic {
            font-size: 18px;
            & .material-symbols-outlined {font-size: var(--text-light);}
        } & .content {
            padding: 1vh 2vh;
            margin-bottom: 1vh;
        } & .evento {
            margin: 1.5vh 0;
        }
    }
    footer {
        margin-top: 2vh;
        height: 15vh;
    }
    footer > .links {
        margin: 5vh 5vw 0 0;
    }

    /* PROJECTS */
    .section-projects {
        padding: 1rem;
        margin: auto;
    }
    .card-container{
        width: 90vw;
        padding: 0;
        gap: 0.5vw;
        grid-template-columns: repeat(1, 1fr);

    }
    .card_img {
        width: 80vw;
    }
    .card_description{
        width: 80vw;
    }
    .card_ui{
        width: 80vw;
        margin: auto;
        & .card_UI_title {
            gap: 8px;
            font-size: 14px;
        }
    }
    .power-bi-list {
        padding: 1vh 1vw;
        & li {
            margin: 0 0 0.5vh 1vw;
        }
    }
}