/* HEADER */
.nome-navbar{
    font-family: 'Trench', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    line-height: 1;
    color: var(--text-light);
    text-decoration: none;
}
.header-2 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 5vw;
    align-items: center;
    justify-content: space-between;
}
/* FIM DO HEADER */
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    & #section-special {
        grid-row: 1;
    }
}

.title-section {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-light);
    margin: 0 0 3vh 0;
    padding: 0;
}
.skills-list{
    li {
        padding-left: 5px;
        margin-bottom: 5px;
    }
    & .material-symbols-outlined {
        font-size: 14px;
    }
}
.section-details{
    margin-top: 0;
    padding: 1rem 3rem;
    max-width: 80vw;
    & .content {
        border-bottom: var(--text-light) 2px solid;
        padding: 2vh 3vh;
        margin-bottom: 1vh;
        & .container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            & .data {
                margin-bottom: 1vh;
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 1vw;
                & .material-symbols-outlined {
                    font-size: 16px;
                }
            }
        }
    }
}
.evento {
    font-weight: bold;
}
.material-symbols-outlined {
    margin-right: 8px;
}



.section-projects {
    margin: 0 2vw;
    border-bottom: var(--text-light) 2px solid;
}
.card-container{
    width: 90vw;
    padding: 2rem;
    margin: auto;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border: var(--text-light) 2px solid;
    border-radius: 10px;
    padding: 3vh;
}

.card_img {
    width: 20vw;
    border: var(--text-light) 1px solid;
    border-radius: 5px;
}

.card_title{
    font-weight: 700;
    margin: 14px 0;
}
.card_description{
    width: 24vw;
    text-align: justify;
    margin-bottom: 14px;
    max-height: 20vh;
    overflow: auto;
    padding: 10px;
}
.card_link{
    margin-top: 8px;
    font-weight: 600;
    & .bi {
        font-size: 12px;
    } & span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}
.card_link:hover{
    text-decoration: underline;
}
.card_ui{
    display: flex;
    flex-direction: column;
    width: 30vw;
    & div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    } & .card_UI_title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 6vh;
            gap: 12px;
            & .bi {
                font-size: 12px;
            }
        }
}
.card_UI_img, .card_UI_title {
    border: var(--text-light) 1px solid;
}

.power-bi-list {
    padding: 1vh 1vw;
    & li {
        margin: 1vh 0 0 2vw;
    }
}

.pessoal-infos {
    margin-left: 2vw;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 400;
    & .material-symbols-outlined {
        font-size: 20px;
    }
}