@font-face {
    font-family: 'Trench';
    font-weight: 400;
    src: url('../fonts/trench100free.otf');
}

:root{
    --main-color: #0056d2;
    --main-color-2: #547bee;
    --dark-1: #333;
    --dark-2: #222;
    --text-dark: #000;
    --text-light: #f4f4f4;
    --scroll-color: #ccc;
    --text-size: 16px;
    --gradient: linear-gradient(to bottom right, var(--main-color) 50%, var(--main-color-2));
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background-color: #fff5;
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-color);
    border-radius: 30px;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background-image: var(--gradient);
    color: var(--text-light);
    overflow-y: auto;
    font-size: var(--text-size);
    min-height: calc(100vh);
}
/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 5vw;
    align-items: center;
    flex-direction: row-reverse;
}
/* NAV */
.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 5vw;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
    color: var(--text-light);
    font-size: var(--text-size);
}
/* FIM DO NAV */

/* FIM DO HEADER */
main {
    color: var(--text-light);
    min-height: calc(100vh - 34vh);
}
main section {
    margin-top: 1rem;
    padding: 3rem;
}
.nome-main{
    font-family: 'Trench', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    color: var(--text-light);
    text-decoration: none;
}
.title-main {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--text-light);
    margin: 3vh 0;
    padding: 0;
}
.about-area {
    max-width: 50vw;
    text-align: justify;
    line-height: 1.5;
}
main > div {
    grid-area: content;
}

/* FOOTER */
footer {
    position: relative;
    margin-top: auto;
    left: 0;
    bottom: -1px;
    width: 100%;
    background-color: var(--text-light);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row-reverse;
    height: 20vh;
}
.branco_effect {
    height: 10vh;
    width: 640px;
    background-color: var(--text-light);
    border: none;
    position: absolute;
    right: 0;
    top: -9vh;
    margin: 0;
    transform: perspective(500px) rotateX(45deg); /* transforma o elemento em um trapézio */
    transform-origin: right bottom;
}
footer > div {
    margin: 0 10px;
    padding: 0 10px;
}
footer > .links {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    font-size: var(--text-size);
    margin-top: 3vh;
    margin-right: 5vw;
}
.link-box {
    background-color: var(--main-color);
    width: 8vw;
    height: 8vh;
    border-radius: 8px;
    color: var(--text-light);
}

.link-box > a {
    margin: auto;
}
footer > .links a:hover {
    text-decoration: underline;
}
/* FIM DO FOOTER */

/*
Texto com degradê  
background-image: var(--gradient);
background-clip: text;
-webkit-text-fill-color: transparent;
*/